/MeshEditor/MeshEditor.sln
/MeshEditor/Logs
/MeshEditor/obj
/MeshEditor/Packages
/MeshEditor/ProjectSettings
/MeshEditor/Temp
/MeshEditor/UserSettings
/MeshEditor/.vsconfig
/MeshEditor/Assembly-CSharp.csproj
/MeshEditor/Assembly-CSharp-Editor.csproj
/MeshEditor/.vs
/MeshEditor/Library
